html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: black;
}

h1 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4vw;
  margin: 2vw 4vw 0vw;
  /* outline: 1px dotted green; */
}

ul.horizontal {
  margin: 2vw;
  padding: 0;
  text-align: center;
  /* outline: 1px dotted pink; */
}
ul.horizontal > li {
  display: inline-block;
  margin: 1vw;
  padding: 0;
  height: 80vh;
  /* outline: 1px dotted yellow; */
}

ul.verticalLeft{
  padding: 0;
  margin: 0;
  /* outline: 1px dotted cyan; */
}

ul.verticalLeft > li {
  display: flex;
  background-color: whitesmoke;
  /* outline: 1px dotted crimson; */
  height: 25vh;
  margin: 1.25vh 0 1.25vh 0;
  border-radius: 25px;
}

ul.verticalRight{
  padding: 0;
  margin: 0;
  /* outline: 1px dotted cyan; */
}

ul.verticalRight > li {
  display: flex;
  background-color: whitesmoke;
  /* outline: 1px dotted crimson; */
  height: 25vh;
  margin: 10vh 0 10vh 0;
}

#leftbar {
  width: 16vw;
}

#rightbar {
  width: 16vw;
}

#simulation {
  width: 55vw;
}

canvas {
  display: block;
}

.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .8)
}
.toolbarLB {
  text-align: right;
  padding: 3px;
}
.closeLB {
  color: black;
  cursor: pointer;
}
.lightbox .iframeContainer {
  vertical-align: middle;
  background: #CCC;
  padding: 2px;
  font-size: 1vw;
  padding: 1vw;
}
.lightbox.closed {
  display: none;
}
