html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  resize: none;
}

body {
  background-color: black;
  position: absolute;
}

h1 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 51px;
  margin: 25px 50px 0;
  /* outline: 1px dotted green; */
}

ul {
  list-style-type: none;
  padding: 0;
}
ul.horizontal {
  margin: 25px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: flex-start;
  /* outline: 1px dotted pink; */
}
ul.horizontal > li {
  display: flex;
  margin: 10px;
  padding: 0;
  height: 720px;
  /* outline: 1px dotted yellow; */
}

ul.verticalLeft{
  padding: 0;
  margin: 0;
  /* outline: 1px dotted cyan; */
}

ul.verticalLeft > li {
  display: flex;
  background-color: whitesmoke;
  /* outline: 1px dotted crimson; */
  width: 220px;
  height: 220px;
  margin: 12px 0;
}

ul.verticalRight{
  padding: 0;
  margin: 0;
  /* outline: 1px dotted cyan; */
}

ul.verticalRight > li {
  display: flex;
  width: 300px;
  background-color: whitesmoke;
  /* outline: 1px dotted crimson; */
  height: 300px;
  margin: 40px 0;
}

h3.box-title {
  margin: 20px auto;
}

.electron-toggle-button {
 display: block;
 margin: 15px auto; 
 width: 180px;
 height: 30px;
 transition-duration: 0.4s;
}

.circle-button {
  width: 60px;
  height: 60px;
  border: none;
  margin: 0px;
  /* margin: -2px 15px 20px 0px; */
  border-radius: 50%;

}

.circle-button:hover {
  cursor: pointer;
}

.circle-button img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  margin: -2px -20px;
}

.feature-select-button {
  margin: 2px;
  width: 90px;
  height: 45px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.slider {
  width: 70%;
}

#leftbar {
  width: 220px;
  display: flex;
}

#rightbar {
  width: 300px;
  display: flex;
}

#simulation {
  width: 792px;
}

#rounded-corners {
  border-radius: 25px;
  display: block;
  padding: 2px;
}

#isoImage {
  height: 165px;
  width: auto;
}



canvas {
  display: block;
}

.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .8)
}
.toolbarLB {
  text-align: right;
  padding: 3px;
}
.closeLB {
  color: black;
  cursor: pointer;
}
.lightbox .iframeContainer {
  vertical-align: middle;
  background: #CCC;
  padding: 2px;
  font-size: 1vw;
  padding: 1vw;
}
.lightbox.closed {
  display: none;
}
